body {
    color: #484848;
    font-size: 14px;
    line-height: normal;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f0f0f0; /* Changed to a lighter background color */
}
.container {
    max-width: 1000px;
    margin: 30px auto;
    background-color: white;
}

header h1, header h2, header h3, .filters h2 {
    font-weight: bold; /* Increase font weight for better readability */
  }
